<a href="https://colab.research.google.com/github/Hadiasemi/Data301/blob/main/Copy_of_Chapter_1_4_Columns_and_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Columns and Variables

Recall that the columns of a tabular data set represent variables. They are the measurements that we make on each observation. 

As an example, let's consider the variables in the OKCupid data set. This data set does not have a natural index, so we use the default index (0, 1, 2, ...).

In [ ]:
import pandas as pd

data_dir = "https://dlsun.github.io/pods/data/"
df_okcupid = pd.read_csv(data_dir + "okcupid.csv")
df_okcupid.head()

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,height,status
0,31,NaN,mostly vegetarian,socially,sometimes,graduated from college/university,"75% nice, 45% shy, 80% stubborn, 100% charming...",i'm a new nurse. it rules.,"multiple-choice questions, dancing.",it depends on the people.,...,"san francisco, california",might want kids,gay,likes cats,buddhism,f,taurus and it&rsquo;s fun to think about,no,67.0,single
1,25,average,NaN,socially,NaN,working on college/university,"i like trees, spending long periods of time co...","studying landscape horticulture, beekeeping, g...","wasting time, making breakfast, nesting",i have a lot of freckles,...,"oakland, california",NaN,gay,NaN,NaN,m,sagittarius and it&rsquo;s fun to think about,no,66.0,single
2,43,curvy,NaN,rarely,never,graduated from masters program,NaN,NaN,NaN,NaN,...,"san francisco, california",has a kid,straight,likes dogs and has cats,other and laughing about it,f,leo and it&rsquo;s fun to think about,trying to quit,65.0,single
3,31,average,NaN,socially,never,NaN,"i am a seeker of laughs ,music ,magick good pe...",i strive to live life to the fullest and to tr...,i am good at my magic and weaving a world of i...,i am guessing y'all would notice my jewelry an...,...,"san francisco, california",doesn&rsquo;t want kids,gay,NaN,other and very serious about it,m,capricorn and it&rsquo;s fun to think about,trying to quit,70.0,single
4,34,NaN,NaN,socially,NaN,graduated from ph.d program,i've just moved here from london after finishi...,i'm doing a postdoc in psychology at stanford,NaN,NaN,...,"san francisco, california",NaN,gay,NaN,NaN,m,cancer but it doesn&rsquo;t matter,NaN,71.0,single

## Types of Variables

There is a fundamental difference between variables like `age` and `height`, which can be measured on a numeric scale, and variables like `religion` and `orientation`, which cannot be.

Variables that can be measured on a numeric scale are called **quantitative variables**. Just because a variable happens to contain numbers does not necessarily make it "quantitative". For example, in the Framingham data set, the `SEX` column was coded as 1 for men and 2 for women. However, these numbers are not on any meaningful numerical scale; a woman is not "twice" a man.

Variables that are not quantitative but take on a limited set of values are called **categorical variables**. For example, the variable `orientation` takes on one of three possible values (gay, straight, or bisexual), so it is a categorical variable. So is the variable `religion`, which takes on a larger, but still limited, set of values. We call each possible value of a categorical variable a "level". Levels are usually non-numeric.

Some variables do not fit neatly into either classification. For example, the variable `essay1` contains users' answers to the prompt "What I’m doing with my life". This variable is obviously not quantitative, but it is not categorical either because every user has a unique answer. In other words, this variable does not take on a limited set of values. We will group such variables into an "other" category.

Every variable can be classified into one of these three **types**: 
- quantitative,
- categorical, or
- other. 

The type of the variable often dictates how we analyze that variable, as we will see in the next two chapters.

## Selecting Variables

Suppose we want to select the `age` column from the `DataFrame` above. There are three ways to do this.

1\.  Use `.loc`, specifying both the rows and columns. (The colon `:` is Python shorthand for "all".)

In [ ]:
df_okcupid.loc[:, "age"]

0       31
1       25
2       43
3       31
4       34
        ..
2995    24
2996    50
2997    31
2998    31
2999    60
Name: age, Length: 3000, dtype: int64

2\. Access the column as you would a key in a `dict`.

In [ ]:
df_okcupid["age"]

0       31
1       25
2       43
3       31
4       34
        ..
2995    24
2996    50
2997    31
2998    31
2999    60
Name: age, Length: 3000, dtype: int64

3\. Access the column as an attribute of the `DataFrame`.

In [ ]:
df_okcupid.age

0       31
1       25
2       43
3       31
4       34
        ..
2995    24
2996    50
2997    31
2998    31
2999    60
Name: age, Length: 3000, dtype: int64

Method 3 (attribute access) is the most concise. However, it does not work if the variable name contains spaces or special characters, begins with a number, or matches an existing attribute of `DataFrame`. For example, if `df_okcupid` had a column called `head`, `df_okcupid.head` would not return the column because `df_okcupid.head` is already reserved for something else.

Notice that a `Series` is used here to store a single variable (across multiple observations). In the previous section, we saw that a `Series` can also be used to store a single observation (across multiple columns). To summarize, the `Series` data structure is used to store either a single row or a single column in a tabular data set. In other words, while a `DataFrame` is two-dimensional (containing both rows and columns), a `Series` is one-dimensional.

To select multiple columns, you would pass in a _list_ of variable names, instead of a single variable name. For example, to select both `age` and `religion`, either of the two methods below would work (and produce the same result):

In [ ]:
# METHOD 1
df_okcupid.loc[:, ["age", "religion"]].head()

# METHOD 2
df_okcupid[["age", "religion"]].head()

   age                         religion
0   31                         buddhism
1   25                              NaN
2   43      other and laughing about it
3   31  other and very serious about it
4   34                              NaN

## Type Inference and Casting


`pandas` tries to infer the type of each variable automatically. If every value in a column (except for missing values) is a number, then `pandas` will treat that variable as quantitative. Otherwise, the variable is treated as categorical. 

To determine the type that Pandas inferred, simply select that variable using the methods above and look for its `dtype`. A `dtype` of `float64` or `int64` indicates that the variable is quantitative.  For example, the `age` variable has a `dtype` of `int64`, so it is quantitative.

In [ ]:
df_okcupid.age

0       31
1       25
2       43
3       31
4       34
        ..
2995    24
2996    50
2997    31
2998    31
2999    60
Name: age, Length: 3000, dtype: int64

On the other hand, the `religion` variable has a `dtype` of `object`, so `pandas` will treat it as categorical.

In [ ]:
df_okcupid.religion

0                                buddhism
1                                     NaN
2             other and laughing about it
3         other and very serious about it
4                                     NaN
                      ...
2995                          catholicism
2996                          agnosticism
2997                                  NaN
2998    catholicism and laughing about it
2999                                other
Name: religion, Length: 3000, dtype: object

Sometimes it is necessary to convert quantitative variables to categorical variables and vice versa. This can be achieved using the `.astype()` method of a `Series`. For example, to convert `age` to a categorical variable, we simply cast its values to strings.

In [ ]:
df_okcupid.age.astype(str)

0       31
1       25
2       43
3       31
4       34
        ..
2995    24
2996    50
2997    31
2998    31
2999    60
Name: age, Length: 3000, dtype: object

To save this as a column in the `DataFrame`, we assign it to a column called `age_cat`. (Note that this column does not exist yet! It will be created at the time of assignment.)

In [ ]:
df_okcupid["age_cat"] = df_okcupid.age.astype(str)

# Check that age_cat is a column in this DataFrame
df_okcupid.head()

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,offspring,orientation,pets,religion,sex,sign,smokes,height,status,age_cat
0,31,NaN,mostly vegetarian,socially,sometimes,graduated from college/university,"75% nice, 45% shy, 80% stubborn, 100% charming...",i'm a new nurse. it rules.,"multiple-choice questions, dancing.",it depends on the people.,...,might want kids,gay,likes cats,buddhism,f,taurus and it&rsquo;s fun to think about,no,67.0,single,31
1,25,average,NaN,socially,NaN,working on college/university,"i like trees, spending long periods of time co...","studying landscape horticulture, beekeeping, g...","wasting time, making breakfast, nesting",i have a lot of freckles,...,NaN,gay,NaN,NaN,m,sagittarius and it&rsquo;s fun to think about,no,66.0,single,25
2,43,curvy,NaN,rarely,never,graduated from masters program,NaN,NaN,NaN,NaN,...,has a kid,straight,likes dogs and has cats,other and laughing about it,f,leo and it&rsquo;s fun to think about,trying to quit,65.0,single,43
3,31,average,NaN,socially,never,NaN,"i am a seeker of laughs ,music ,magick good pe...",i strive to live life to the fullest and to tr...,i am good at my magic and weaving a world of i...,i am guessing y'all would notice my jewelry an...,...,doesn&rsquo;t want kids,gay,NaN,other and very serious about it,m,capricorn and it&rsquo;s fun to think about,trying to quit,70.0,single,31
4,34,NaN,NaN,socially,NaN,graduated from ph.d program,i've just moved here from london after finishi...,i'm doing a postdoc in psychology at stanford,NaN,NaN,...,NaN,gay,NaN,NaN,m,cancer but it doesn&rsquo;t matter,NaN,71.0,single,34

## Exercises

Exercises 1-2 deal with the Titanic data set (https://dlsun.github.io/pods/data/titanic.csv)

1\. Read in the Titanic data set. Identify each variable in the Titanic data set as either quantitative, categorical, or other. Cast all variables to the right type and assign them back to the `DataFrame`.

In [ ]:
# YOUR CODE HERE
df_titanic = pd.read_csv("https://dlsun.github.io/pods/data/titanic.csv")
df_titanic.head()
df_titanic.survived = df_titanic.survived.astype(str)
df_titanic.ticketno = df_titanic.ticketno.astype(str)

2\. Create a `DataFrame` (not a `Series`) consisting of just the `class` column.

In [ ]:
# YOUR CODE HERE
df_class = df_titanic[['class']]
df_class.head()

  class
0   3rd
1   3rd
2   3rd
3   3rd
4   3rd